a
{
	color: #DD4F24;
}
body
{
	background: #E0E0E0;
	color: #4C4C4C;
	font-family: "PT Sans", Arial, Helvetica;
	font-size: 16px;
	margin: 0;
}

header
{
	background: #434343;
	color: white;
	padding:  0.5em;
	text-align: left;
}

header figure, header h1
{
	display: inline-block;
	vertical-align: top;
}

header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em;
	width: 60%;
}

header #avatar
{
	margin: 1em 1em 0 0;
	float: right;
}

header #logo img
{
	width: 80px;
}

nav
{
	background: #878787;
	color: white;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}

nav #flechita_nav
{
	background: #22BCE0;
}

nav #publicar_nav
{
	background: #DD4F24;
	float: right;
	margin-right: 0;
}

#contenido
{
	margin: 1em;
}

#contenido .datos_item .tag_item
{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item
{
	border-bottom: 3px #22BCE0 solid;
	background: white;
}


